.error.active {
    color : rgb(214, 28, 28);
    font-size : 0.6rem;
    display : block;
}
*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
form {
    gap : 0.5rem;
    width : 400px;
    height: auto;
    display : flex;
    flex-direction: column;
    margin : 2rem auto;
}
.input-field {
    gap : 0.15rem;
    display : flex;
    flex-direction: column;
}
input , select{
    background-color: inherit;
    border-radius: 0.25rem;
    padding : 0.2rem 0.4rem;
    font : inherit;
    outline: none;
}
input:invalid {
    border : 1px solid red;
}
select:invalid {
    border : 1px solid red;
}
input:valid {
    border : 1px solid lime;
}
select.valid {
    border : 1px solid lime;
}
.invalid {
    border : 1px solid red;
}
.valid {
    border : 1px solid lime;
}